soap-producer/src/main/resources/hello-world.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://idorasi.com/hello"
           xmlns:tns="http://idorasi.com/hello" elementFormDefault="qualified">

    <xs:element name="HelloWorldRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name= "name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="HelloWorldResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name= "response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
